@model List<string>


@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h3>How are you?</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>
<h1>HI!</h1>
